// CSS:
.hello .name {
  color: #ff0000;
  font-size: 12px;
}

.hello .age {
  color: #0000ff;
  font-size: 12px;
}

// <div class="hello">
//   <div class="name">Tom</div>
//   <div class="age">29</div>
// </div>

// Rewrite in LESS / SCSS / SASS:
