// Rewrite using a CSS Pre-Processor of your choice
// Step 1: Write code which transpiles exactly to the existing CSS
// Step 2: Take it a step further based on your knowledge of the DOM

// CSS:
.hello .name {
  color: #ff0000;
  font-size: 12px;
}

.hello .hair {
  color: #0000ff;
  font-size: 12px;
}

// <div class="hello">
//   <div class="name">Tom</div>
//   <div class="hair">Blonde</div>
// </div>

